.logo{ width:100px;
	height: 30px;
	 margin-left:30px;
	 display:inline-block;
     justify-content:flex-start;
     order:2;
}
ul{ margin-top: 40px;
	margin-bottom: 82px;
	display:flex;
}
.nav-menu1{order:2;
	font-size: 22px;
	color:red;
	margin-left: 50px;
	
}
.nav-menu2{
	order:2;
	font-size:22px;
	color:blue;
	margin-left: 37px;
	display:inline-block;
	
}
.banner{
	width: 1170px;
	height:460px;
	margin-left:96px;
}
.facebook{height:28px; width:38px;
	margin:103px 0 38px 30px;
}
.perent{
	font-size:22px; 
}
